@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:wght@300;400;700&display=swap');

.menu-list {
    overflow: hidden;
    width: 45px;
    height: 40px;
    position: fixed;
    z-index: 999;
    font-family: 'Poppins', sans-serif;
}

.menu-list .nav-link {
    color: #ffffff;
    font-weight: 700;
}

.menu-opened {
    width: 170px;
    height: 100%;
    background-color: rgba(33, 37, 41, 0.75);
    transition: width .1s ease;
}

.lang-btn {
    padding-bottom: 1rem;
}

.overlay {
    z-index: 998;
    position: fixed;
    height: 100%;
    width: 100vw;
    background-color: rgb(0, 0, 0, 0.6);
    transition: all .3s ease;
}

.nav-link span {
    font-size: 2rem;
    color: #000000;
}

.home {
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: 'Poppins', sans-serif;
}

.paz-emoji {
    width: 1.3rem;
    margin-bottom: .8rem;
}

.infos h4 {
    color: rgb(136, 136, 136);
}

.stack-icons {
    height: 2rem;
}

.skills {
    height: 100vh;
}
.img-prog {
    display: none;
}



.project-container > img {
    width: 335px;
    height: 335px;
}
.project-links a {
    text-decoration: none;
}
.project-container {
    max-width: 335px;
    max-height: 500px;
}


@media (min-width: 768px) { 
    .paz-emoji {
        width: 2rem;
    }
    .paragraph-sub {
        font-size: 0.7rem;
        max-width: 250px;
        margin: 1rem !important;
    }
    .stacks {
        width: 300px !important;
    }
}

@media (min-width: 992px) { 
    .menu-list {
        width: 100%;
        height: 40px;
        background-color: rgba(33, 37, 41, 0.75);
    }
    .menu-list .menu-btn {
        display: none;
    }
    .paz-emoji {
        width: 2rem;
    }
    .paragraph-sub {
        font-size: 0.7rem;
        max-width: 250px;
        margin: 1rem !important;
    }
    .stacks {
        width: 300px !important;
    }
    .skills {
        display: grid !important;
        place-items: center;
    }
    .body-skills {
        display: grid !important;
        grid-template-columns: repeat(2, 450px);
        gap: 1rem;
        max-height: 100vh;
    }
    .img-prog {
        display: block;
        width: 300px;
    }
    .body-projects{
        display: grid !important;
        grid-template-columns: repeat(2, 450px);
        gap: 1rem;
        place-items: center;
        align-items: start;
    }
}
